# Git
.git
.gitignore

# Docker
.docker

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# Virtual environment
.env/
*/.env
.venv/
venv/

**/.devcontainer